body {
  background: #000;
  color: white;
  padding: 25px;
  font-family: sans-serif;
  background-color: black;
}
table, th, td {
  border: 3px solid blue;
}
th, td {
  padding: 3px;
  text-align: center;
}
th {
  color: yellow;
}
a {
  color: red;
}
