body {
  background: #000;
  color: lightpink;
  padding: 25px;
  font-family: sans-serif;
  background-color: darkblue;
}
table, th, td {
  border: 3px solid lightblue;
}
th, td {
  padding: 3px;
  text-align: center;
}
th {
  color: yellow;
}
a {
  color: red;
}
#NFL{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.wins {
  color: lightgreen;
}
.losses {
  color: red;
}
.th-home{
  color: orange;
}
.archive-win-th{
  color: red;
}
.archive-win-tb{
  color: gold;
}
.archive-loss-tb{
  color: pink;
}
h3, h2{
  color: white;
  background-color: darkorange;
  padding: 3px;
  border-radius: 4px;
  text-align: center;
}
.matchup-p{
  color: lightpink;
  background-color: darkblue;
  padding: 3px;
  border-radius: 4px;
  text-align: left;
}
h1{
   color: yellow;
  background-color: red;
  padding: 8px;
  border-radius: 7px;
  text-align: center;
  font-size: 30px
}
